@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofadi+One&display=swap');

/* RESET BÁSICO */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

/* NAVBAR */

img{
    width: 100%;
    display: flex;
    padding-top: .5rem;
}

a{
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #181818;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 150px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition:all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.button{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #1d4ed8;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    text-align: center;
    height: 50px;
    width: 150px;
}

.button:hover,
.button-redes:hover{
    background-color: #1e40af;
    
}
.bi-download{
    color: white;
    height: 20px;
    width: 20px;
}

/* ESTILOS PARA EL HEADER */

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;

}

header .image::before{ /* a revisar */
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45rem;
    font-weight: 300;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.1;
    z-index: -100;
}

header .image img{
    max-width: 500px;
    margin: auto;
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.button-redes{
    padding: 1rem;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* SOBRE MÍ